" plugins
set exchange
set highlightedyank
set ideajoin
set ignorecase
set incsearch
set multiple-cursors
set surround
set NERDTree

" use system clipboard
set clipboard+=unnamed

" normal mode mappings
let mapleader=","

nnoremap <leader><space> :action ShowNavBar<cr>
nnoremap g. :action CodeInsightEditorActions<cr>
nnoremap <leader>t :action ShowIntentionActions<cr>
nnoremap <leader>a :action GotoAction<cr>
nnoremap <leader>b :action ShowBookmarks<cr>
nnoremap <leader>o :action FileStructurePopup<cr>
" nnoremap <leader>c :action GotoClass<cr>
nnoremap <leader>e :action RecentFiles<cr>
nnoremap <leader>z :action ToggleDistractionFreeMode<cr>
nnoremap <leader>f :action GotoFile<cr>
nnoremap <leader>l :action RecentLocations<cr>
nnoremap <leader>m :action ReformatCode<cr>
nnoremap == :action ReformatWithPrettierAction<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>s :action SaveAll<cr>
nnoremap <leader>u :action EmmetUpdateTag<cr>
nnoremap <leader>j :action SelectInProjectView<cr>

nnoremap ge :action ShowErrorDescription<cr>
nnoremap gh :action QuickJavaDoc<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gu :action ShowUsages<cr>

nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GoToPreviousError<cr>

nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l
nnoremap <leader>z :action ToggleDistractionFreeMode<cr>
nnoremap <leader>wh <c-w>h
nnoremap <leader>wj <c-w>j
nnoremap <leader>wk <c-w>k
nnoremap <leader>wl <c-w>l
nnoremap <leader>wv <c-w>v
nnoremap <leader>wq <c-w>c
nnoremap <leader>wo <c-w>o
nnoremap <leader>ws <c-w>s

nnoremap ; :action AceAction<CR>
"nnoremap ; :action AceWordAction<CR>

" insert mode mappings
inoremap <c-h> <c-o>I
inoremap <c-l> <c-o>A
inoremap <c-u> <esc>v0c
inoremap kj <esc>

" visual mode mappings
vnoremap A :action EditorAddCaretPerSelectedLine<cr>
